<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/users/create">Sign Up</a></li>
    <li><a href="/users/signin">Sign In</a></li>
  </ul>
</nav>
