<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
	<%- include('./partials/_head') %>

	<body>
		<h1>404 Page Not Found</h1>
		<h2><%= req%> was not able to be found :: sad face ::</h2>
	</body>
=======
  <%- include('../partials/_head') %>

  <body>
    <h1>404 Page Not Found</h1>
    <h2><%= req%> was not able to be found :: sad face ::</h2>
  </body>
>>>>>>> submaster
</html>
