<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/404.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Ecommerce</title>
    <script defer src="/js/404.js"></script>
  </head>

  <body>
    <%- include('./partials/_header') %>
    <canvas id="canv"></canvas>
  </body>
</html>
